{% extends 'admin.html.twig' %}

{% block content %}
	<h2>Welcome to the Admin Home!</h2>

	<div class="card mb-4">
		<div class="card-header">
			<div class="container mt-5">
				<h2 class="text-center mb-5">Les derniers posts</h2>
				<div class="row align-items-stretch">
					{% for post in posts %}
						<div class="col-md-4 mb-4">
							<div class="card mb-4 h-100">
								{% if post.image %}
									<img src="/Blog/public/uploads/{{ post.image }}" class="card-img-top img-fluid" alt="Post Image" style="height: 200px;">
								{% else %}
									<img src="/Blog/public/images/defaultImage.jpg" class="card-img-top img-fluid" alt="Post Image" style="height: 200px;">
								{% endif %}
								<div class="card-body">
									<h5 class="card-title">{{ post.title|upper }}</h5>
									<p class="card-text">{{ post.content|slice(0, 100) }}...</p>
								</div>
								<div class="card-footer text-muted">
									Mise a jour  : {{ post.updateAt|date('d/m/Y') }} par {{ post.author }}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="text-center mt-5">
					<a href="/Blog/admin/showPost" class="btn btn-secondary">Voir tous les posts</a>
				</div>
			</div>
		</div>
	</div>
	<div class="card mb-4">
		<div class="card-header">
			<div class="container mt-5">
				<h2 class="text-center mb-5">Les derniers utilisateurs</h2>
				<div class="row align-items-stretch">
					{% for user in users %}
						<div class="col-md-4 mb-4">
							<div class="card mb-4 h-100">
								<div class="card-body">
									{% if user.image %}
										<img src="/Blog/public/users/{{ user.image }}" class="card-img-top img-fluid" alt="User Image" style="height: 200px;">
									{% else %}
										<img src="/Blog/public/users/avatar.png" class="card-img-top img-fluid" alt="Post Image" style="height: 200px;">
									{% endif %}
{#									<img src="/Blog/public/users/{{ user.image }}" class="card-img-top img-fluid" alt="User Image" style="height: 200px;">#}
									<h5 class="card-title">{{ user.name }} {{ user.lastName }}</h5>
									<p class="card-text">Email: {{ user.email }}</p>
									<p class="card-text">Rôle: {{ user.role|capitalize }}</p>
									<p class="card-text">Pseudo: {{ user.pseudo }}</p>
								</div>
								<div class="card-footer text-muted">
									Inscrit le : {{ user.createdAt|date('d/m/Y') }}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="text-center mt-5">
					<a href="/Blog/admin/users/list" class="btn btn-secondary">Voir tous les utilisateurs</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
