{% extends 'admin.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Liste des Posts</h1>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Chapo</th>
                    <th style="background-color: #d32222; color: white">En attente</th>
                    <th style="background-color: #3e9344; color: white">Approuvés</th>
                    <th style="background-color: rgba(89,95,103,0.34); color: white">Rejetés</th>
                </tr>
                </thead>
                <tbody>
                {% for postData in postsData %}
                    <tr>
                        <td><a href="/Blog/admin/showAllComments/{{ postData.post.id }}">{{ postData.post.title }}</a>
                        </td>
                        <td>{{ postData.post.chapo }}</td>
                        <td style="color: #d32222;">
                            {{ postData.comments|filter(comment => comment.status == 'pending')|length }}
                        </td>
                        <td style="color: #063f09;">{{ postData.comments|filter(comment => comment.status == 'approved')|length }}</td>
                        <td>{{ postData.comments|filter(comment => comment.status == 'rejected')|length }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
