{% extends 'base.html.twig' %}
{% block title %}
{% endblock %}
{% block content %}
	{% for post in posts %}
		<div class="news">
			<div class="card">
				<div class="card-header">
					<h3 class="mb-0">
						{{ post.title|upper }}
						<em>le {{ post.updateAt|date("d/m/Y") }}</em>
					</h3>
				</div>
				<div class="card-body">
					<p>{{ post.chapo|capitalize }}</p>
					<img src="public\images\logo.png" class="card-img-top" alt="..." style="width: 100px;">
					<p>{{ post.author }}</p>
					<h3>{{ post.comments|length }} commentaire(s) :</h3>
				</div>
				<div class="card-footer">
					<button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#comments{{ post.id }}" aria-expanded="false" aria-controls="comments{{ post.id }}">
						Afficher/Masquer les commentaires
					</button>
				</div>
				<div class="collapse" id="comments{{ post.id }}">
					<div class="card-body">
						<ul>
							{% for comment in post.comments %}
								<li>{{ comment.content|capitalize }}</li>
							{% endfor %}
						</ul>
						<div class="mb-3">
							<label for="comment" class="form-label">Soumettre un commentaire :</label>
							<textarea id="comment" name="comment" placeholder="Votre commentaire ici..." class="form-control" rows="5" required></textarea>
							<button type="submit" class="btn btn-dark">Envoyer</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}