{% extends 'base.html.twig' %}
{% block content %}
	<div class="container mt-5">
		<h1 class="text-center">Bienvenue sur ce post !</h1>
		<h2 class="text-center mb-5"> Post {{ post.title }}</h2>
		<div class="row align-items-start">
			<div class="col-md-8 mx-auto">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">{{ post.title|upper }}</h5>
						{% if post.image %}
							<img src="/Blog/public/uploads/{{ post.image }}" class="card-img-top img-fluid" alt="Post Image">
						{% else %}
							<img src="/Blog/public/images/defaultImage.jpg" class="card-img-top img-fluid" alt="Post Image">
						{% endif %}
						<p class="card-text">{{ post.chapo | raw }}</p>
						<p class="card-text">{{ post.content | raw }}</p>
						<p class="card-text">Auteur: {{ post.author }}</p>
					</div>
					<div class="card-footer text-muted">
						<p class="card-text">Dernière mise à jour: {{ post.updateAt|date("d/m/Y") }} </p>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-md-8 mx-auto">
				<h2>Commentaires ({{ post.comments|length }})</h2>
				<div class="accordion" id="accordionComments">
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#allCommentsCollapse" aria-expanded="true" aria-controls="allCommentsCollapse">
								Voir les commentaires
							</button>
						</h2>
						<div id="allCommentsCollapse" class="accordion-collapse collapse" aria-labelledby="allCommentsCollapse" data-bs-parent="#accordionComments">
							<div class="accordion-body">
								<ul class="list-group">
									{% for comment in post.comments %}
										<li class="list-group-item">{{ comment.content }}</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-md-8 mx-auto d-flex justify-content-between">
				<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addCommentModal">
					Ajouter un commentaire
				</button>
					<div class="mt-auto">
						<a href="/Blog/posts" class="btn btn-secondary">Retour aux posts</a>
					</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="addCommentModal" tabindex="-1" aria-labelledby="addCommentModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="background-color:  #865353">
					<h5 class="modal-title" id="addCommentModalLabel">Ajouter un commentaire</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<!-- Form add comment -->
					<form action="/Blog/addComment" method="post">
						<div class="mb-3" style="background-color:  #865353">
							<label for="comment" class="form-label"  >Votre commentaire :</label>
							<textarea id="comment" name="comment" placeholder="Votre commentaire ici..." class="form-control" rows="5" required></textarea>
						</div>
						<input type="hidden" name="postId" value="{{ post.id }}">
						<button type="submit" class="btn btn-dark">Envoyer</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
