<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
<h1> LISTE DES UTILISATEURS </h1>
<ul>
    {% for user in users %}
    <li><ul>{{ user.lastName|upper }}</ul>
        <ul>{{ user.name|capitalize }}</ul>
        <ul>{{ user.slug }}</ul>
        <ul> mail : {{ user.email }}</ul>
        <ul>{{ user.createdAt|date('m/d/Y') }}</ul>
        </li><br>
    {% endfor %}
</ul>
</body>
</html>
